<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>DepositMoney</h2>
        <input type="text" id = "deposit" placeholder="Enter Deposit Address">
        <input type="text" id = "amount" placeholder="Enter payer amount">
        <button class="btn" onclick="deposit()">Deposit</button>
		<button class="btn" onclick="transaction()">View Transaction</button>
		<form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
		<p id = "view_payer"></p>
		<p id = "view_payee"></p>
		<p id = "view_amount"></p>
        <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
        <script>
            const contractAddress = "0x73B668d8374DDB42c9e2f46fd5B754Ac215495bc";
            const contractABI = [
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_depositor",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "_amount",
				"type": "uint256"
			}
		],
		"name": "desposit_money",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "transaction",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
];

            const web3 = new Web3(Web3.givenProvider);
            const contract = new web3.eth.Contract(contractABI, contractAddress);

            async function deposit(){
                const accounts = await web3.eth.requestAccounts();
                const depositor = document.getElementById("depositor").value;
                const amount = document.getElementById("amount").value;
                console.log(depositor,amount);


                await contract.methods.desposit_money(depositor,amount).send({from:accounts[0]});
            }

			async function transaction() {
				const result = await contract.methods.checkTransaction().call();
				document.getElementById('view_depositer').innerText = "Depositor is: " + result[0];
				document.getElementById('view_amount').innerText = "Amount is: " + result[1];
				}

        </script>
    </div>
</body>

